<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EJ9T2VC3T3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EJ9T2VC3T3');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/master.css">
    <title>Jan Mamyroian</title>
    <link rel="icon" src="assets/pictures/DONE.svg" type="image/icon type">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/js/logo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- Header section -->
    <header>
        <img src="assets/pictures/DONE.svg" alt="Logo" id="logo" onmouseover="rotation()" onmouseout="normal()" onmousedown="flip()" />
        <div class="dropdown">
            <button class="dropbtn">MENU</button>
            <nav class="dropdown-content">
                <a class="links" href="{{ url_for('home') }}" >HOME</a>
                <a class="links" href="{{ url_for('works') }}">WORKS</a>
                <a class="links" href="{{ url_for('branding') }}">BRANDING</a>
                <a class="links" href="{{ url_for('faq') }}">FAQ</a>
                <a class="links" href="{{ url_for('contact') }}">CONTACT</a>
            </nav>
        </div>
    </header>

    <div id="brandingbody">
        <div id="brandingtexts">
            <h1>Branding</h1>
            <div id="brandingfirstrow">
                <img src="assets/branding/shoplogo.jpg" alt="Shop logo" class="brandingfirst">
                <img src="assets/branding/logomockup.jpg" alt="Logo on shop " class="brandingfirst">
            </div>
            <h1>Promoting logos of various businesses and digitalizing them</h1>
            <div id="brandingsecondrow">
                <img src="assets/branding/webdev.jpg" alt="Macbook with logo" class="brandingsecond">
                <img src="assets/branding/flashdrive.jpg" alt="Flashdrive with logo" class="brandingsecond">
            </div>
            <h1>Creating Moodboards And Designing Packages</h1>
            <div id="brandingthirdrow">
                <img src="assets/branding/newmoodboard.jpg" alt="Moodboard" class="brandingsecond">
                <img src="assets/branding/packaging.jpg" alt="packaging mockup" class="brandingthird">
            </div>
        </div>

    </div>
    <!--FOOTER-->
    <footer>
        <div id="topfooter">
            <div id="logos">
                <a href="https://www.pinterest.ca/janmamyroian" target="_blank">
                    <img src="assets/pictures/pinterest.svg" alt="Pinterest" class="footerlogo" />
                </a>
                <a href="https://www.linkedin.com/in/jan-mamyroian-b45088107/" target="_blank">
                    <img src="assets/pictures/linkedin.svg" alt="LinkedIn" class="footerlogo" />
                </a>
                <a href="mailto:jan.mamyroian@gmail.com" target="_blank">
                    <img src="assets/pictures/gmail.svg" alt="Gmail" class="footerlogo" />
                </a>
            </div>
            <div id="line">
                <hr />
            </div>
        </div>
        <div id="bottomfooter">
            <div id="footerdiv">
                <h1>About this site:</h1>
                <p>Here you will find my works and some info about web development.</p>
            </div>
            <div id="language">
                <a href="{{ url_for('frbranding') }}"><img src="assets/pictures/france.svg" alt="French"  /></a>
                <a href="{{ url_for('branding') }}"><img src="assets/pictures/english.svg" alt="English"  /></a>
            </div>
        </div>
    </footer>
</body>
</html>
